<div class="container" style="display:list-item;">
        <h1>Formulario de reseteo de Contraseña</h1>
    <br>
        <h3>Restablezca su contraseña</h3>
    <br>
        <div>
            <form class="container-login" id="resetPassForm">
                <label>Contraseña: </label>
                    <input class="controls-login" name="password" type="password" placeholder="Contraseña Nueva" required>
                <br>
                <label>Confirmacion: </label>
                    <input class="controls-login" name="passwordConf" type="password" placeholder="Confirme Nueva Contraseña" required>
                <div></div>
                <input class="controls-login" value="Enviar" type="submit" id="reset">
            </form>
        </div>
    <br>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js"></script>