     <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
           <div class="profile">
                <img class="card-img"  src="/img/default.avatar.png" alt="Avatar" id="sidebarUserAvatar">
                <h3 id="sidebarUserName">Name</h3>
                <p id="sidebarUserEmail">Email</p>
                <h4 id="sidebarUserRole">Role</h4>
            </div>
            <!--menu item-->
                <ul>
                    <li>
                        <a href="/products" class="active">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="item">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/realTimeProducts">
                            <span class="icon"><i class="fas fa-desktop"></i></span>
                            <span class="item">ABM Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/chat">
                            <span class="icon"><i class="fas fa-user-friends"></i></span>
                            <span class="item">Chat</span>
                        </a>
                    </li>
                    <li>
                        <a id="sidebarUserRef">
                            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                            <span class="item">Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a id="sidebarCartRef">
                            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                            <span class="item">Carrito</span>
                        </a>
                    </li>
                    <li>
                         
                        <a href="#">
                            <form id="sidebarLogoutForm"> 
                                <span class="icon"><i class="fas fa-database"></i></span>
                                <span class="item"><input type="submit" value="Cerrar Sesion" class="button-to-link-white item"></span>
                            </form>
                        </a>
                        
                    </li>

                   
                </ul>
        </div>
    </div>

<script src="/js/sidebar.js"></script>        