     <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
           <div class="profile">
                <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">
                <h3 id="UserName">Name</h3>
                <p id="UserEmail">Email</p>
                <h4 id="UserRole">Role</h4>
            </div>
            <!--menu item-->
                <ul>
                    <li>
                        <a href="/products" class="active">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="item">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/realTimeProducts">
                            <span class="icon"><i class="fas fa-desktop"></i></span>
                            <span class="item">ABM Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/chat">
                            <span class="icon"><i class="fas fa-user-friends"></i></span>
                            <span class="item">Chat</span>
                        </a>
                    </li>
                    <li>
                        <a id="UserRef">
                            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                            <span class="item">Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a id="CartRef">
                            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                            <span class="item">Carrito</span>
                        </a>
                    </li>
                    <li>
                         
                        <a href="#">
                            <form id="logoutForm"> 
                                <span class="icon"><i class="fas fa-database"></i></span>
                                <span class="item"><input type="submit" value="Cerrar Sesion" class="button-to-link-white item"></span>
                            </form>
                        </a>
                        
                    </li>

                   
                </ul>
        </div>
    </div>

<script src="/js/sidebar.js"></script>        