<div class="container" style="display:list-item;">
    <h1>Bienvenido al portal E-Commerce</h1>
<br>
    <h3>Inicie su sesion</h3>
<br>
    <div>
        <form class="container-login" id="loginForm">
            <label>Email: </label><input class="controls-login" name="email">
            <br>
            <label>Contraseña: </label><input class="controls-login" name="password" type="password">
            <div></div>
            <input class="controls-login" value="Login with Email/Pass" type="submit" id="local">
        </form>
    </div>
<br>
    <p>Primer vez en el portal E-Commerce? <a href="/register">Crea una nueva cuenta</a></p>
    <p>Tambien podes logear a travez de tu cuenta de GitHub <a href="/api/sessions/github">Login con GitHub</a></p>
</div>

<script src="/js/login.js"></script>