<div  class="container" style="display:list-item;">
    <h3>Registe su nueva cuenta</h3>
        <br>
            <div>
                <form class="container-login" id="registerForm">
                    <label>Nombre: </label><input class="controls-login" name="firstName" required>
                    <br>
                    <label>Apellido: </label><input class="controls-login" name="lastName" required>
                    <br>
                    <label>Email: </label><input class="controls-login" name="email" required>
                    <br>
                    <label>Edad: </label><input class="controls-login" name="age" required>
                    <br>
                    <label>Contraseña: </label><input class="controls-login" name="password" required>
                    <br>
                    <input class="controls-login" type="submit">
                </form>
            </div>
</div>
<script src="/js/register.js"></script>